*.bak
*.iml
*.tar.gz
.DS_Store
.classpath
.gradle/
.idea/
.project
.settings/
bin/
build/
gradle/

.gitkeep
*.swp
*.ipr
*.iws
out/
production/
jar/
.vertx
etcd_data/
default.etcd
docker/microdose-vertx-server.tar.gz